# Import des librairies et conneexion à la base de données

In [17]:
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()
database_url = os.getenv("DATABASE_URL") # url de la base de données stocké dans un fichier .env sous la variable DATABASE_URL
engine = create_engine(database_url)

# Récupération de la première table

In [18]:

query = "SELECT tconst, titletype, primarytitle, isadult, startyear, endyear, runtimeminutes, genres, averagerating, numvotes FROM sebastien.title_basics ORDER BY tconst LIMIT 10000;"
with engine.connect() as conn, conn.begin():
    df = pd.read_sql_query(query, engine)

df.head()

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes
0,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN
1,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN
2,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN
3,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN
4,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN

On récupère seulement les 10000 premières lignes ordonnées par tconst pour pouvoir par la suite récupérer les données des autres tables selon ces 10000 lignes.

# Récupération de la table episode et join

### Récupération de la table dans la base de données

In [19]:
query = "SELECT * FROM sebastien.title_episode;"
with engine.connect() as conn, conn.begin():
    df_episode = pd.read_sql_query(query, engine)

df_episode.head()

       tconst parenttconst  seasonnumber  episodenumber
0  tt12155488   tt12145510           1.0            7.0
1   tt1215549    tt0990536           1.0            3.0
2  tt12155490   tt12092480           1.0          211.0
3  tt12155492   tt12092480           1.0          212.0
4  tt12155494   tt12145510           1.0            8.0

La complication est que certaines lignes de title_basics sont liés à title_episode par la colonne tconst de title_episode tandis que d'autres sont liés par la colonne parentTconst.

### Premier merge avec tconst

In [20]:
df_merge = df.merge(df_episode, on="tconst", how="left")
df_merge

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes,parenttconst,seasonnumber,episodenumber
0,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,tt12465816,1.0,2.0
1,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN
2,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN,NaN,NaN,NaN
3,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN,tt0210405,18.0,5.0
4,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,tt12465816,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,tt12624184,tvEpisode,Canción de cuna,False,2001.0,NaN,NaN,"Crime,Drama,Thriller",NaN,NaN,tt0222600,NaN,NaN
9996,tt12624186,videoGame,Go Diego Go! Great Dinosaur Rescue,False,2008.0,NaN,NaN,Adventure,5.3,7.0,NaN,NaN,NaN
9997,tt1262419,movie,Sanpei the Fisher Boy,False,2009.0,NaN,118.0,Drama,6.1,109.0,NaN,NaN,NaN
9998,tt12624194,movie,Debbie's Time,True,1971.0,NaN,NaN,Adult,NaN,NaN,NaN,NaN,NaN
9999,tt12624196,tvEpisode,Desperation,False,2020.0,NaN,17.0,Sci-Fi,NaN,NaN,tt7275066,1.0,4.0

### Deuxième merge par parenttconst

In [21]:
df_merge_parent = df.merge(df_episode, left_on="tconst", right_on="parenttconst", how="left", suffixes=('', '_parent'))
df_merge_parent

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes,tconst_parent,parenttconst,seasonnumber,episodenumber
0,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,NaN,NaN,NaN,NaN
1,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
2,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN,NaN,NaN,NaN,NaN
3,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
4,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21704,tt12624184,tvEpisode,Canción de cuna,False,2001.0,NaN,NaN,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,NaN,NaN
21705,tt12624186,videoGame,Go Diego Go! Great Dinosaur Rescue,False,2008.0,NaN,NaN,Adventure,5.3,7.0,NaN,NaN,NaN,NaN
21706,tt1262419,movie,Sanpei the Fisher Boy,False,2009.0,NaN,118.0,Drama,6.1,109.0,NaN,NaN,NaN,NaN
21707,tt12624194,movie,Debbie's Time,True,1971.0,NaN,NaN,Adult,NaN,NaN,NaN,NaN,NaN,NaN
21708,tt12624196,tvEpisode,Desperation,False,2020.0,NaN,17.0,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN

### On combine les deux merge

In [22]:
df = pd.concat([df_merge, df_merge_parent], ignore_index=True)
df

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes,parenttconst,seasonnumber,episodenumber,tconst_parent
0,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,tt12465816,1.0,2.0,NaN
1,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
2,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN,NaN,NaN,NaN,NaN
3,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN,tt0210405,18.0,5.0,NaN
4,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,tt12465816,1.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31704,tt12624184,tvEpisode,Canción de cuna,False,2001.0,NaN,NaN,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,NaN,NaN
31705,tt12624186,videoGame,Go Diego Go! Great Dinosaur Rescue,False,2008.0,NaN,NaN,Adventure,5.3,7.0,NaN,NaN,NaN,NaN
31706,tt1262419,movie,Sanpei the Fisher Boy,False,2009.0,NaN,118.0,Drama,6.1,109.0,NaN,NaN,NaN,NaN
31707,tt12624194,movie,Debbie's Time,True,1971.0,NaN,NaN,Adult,NaN,NaN,NaN,NaN,NaN,NaN
31708,tt12624196,tvEpisode,Desperation,False,2020.0,NaN,17.0,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df[df["tconst"].duplicated()]

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes,parenttconst,seasonnumber,episodenumber,tconst_parent
10000,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,NaN,NaN,NaN,NaN
10001,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
10002,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN,NaN,NaN,NaN,NaN
10003,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,NaN,NaN
10004,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31704,tt12624184,tvEpisode,Canción de cuna,False,2001.0,NaN,NaN,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,NaN,NaN
31705,tt12624186,videoGame,Go Diego Go! Great Dinosaur Rescue,False,2008.0,NaN,NaN,Adventure,5.3,7.0,NaN,NaN,NaN,NaN
31706,tt1262419,movie,Sanpei the Fisher Boy,False,2009.0,NaN,118.0,Drama,6.1,109.0,NaN,NaN,NaN,NaN
31707,tt12624194,movie,Debbie's Time,True,1971.0,NaN,NaN,Adult,NaN,NaN,NaN,NaN,NaN,NaN
31708,tt12624196,tvEpisode,Desperation,False,2020.0,NaN,17.0,Sci-Fi,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df[df["tconst"] == "tt3240414"]

Empty DataFrame
Columns: [tconst, titletype, primarytitle, isadult, startyear, endyear, runtimeminutes, genres, averagerating, numvotes, parenttconst, seasonnumber, episodenumber, tconst_parent]
Index: []

On voit qu'il y a des doublons, il faut donc regrouper les lignes doublons

Pour cela on peux regrouper les lignes qui ont le même tconst. Pour les colonnes de title_basics, comme la valeur est la même selon les deux merge, on peux garder toujours le premier. Pour les colonnes de title_episode, pour éliminer les lignes où la valeur est vide, on peux garder la valeur max, qui est donc celle non nulle.

In [25]:
df = df.groupby('tconst').agg({
    'titletype': 'first', # on garde  le titletype de la première ligne
    'primarytitle': 'first',
    'isadult': 'first',
    'startyear': 'first',
    'endyear': 'first',
    'runtimeminutes': 'first',
    'genres': 'first',
    'averagerating': 'first',
    'numvotes': 'first',
    'seasonnumber': 'max', # on garde le max de seasonnumber, soit le non nul
    'episodenumber': 'max'
}).reset_index()
df

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes,seasonnumber,episodenumber
0,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,1.0,2.0
1,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN
2,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN,NaN,NaN
3,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN,18.0,5.0
4,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,tt12624184,tvEpisode,Canción de cuna,False,2001.0,NaN,NaN,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN
9996,tt12624186,videoGame,Go Diego Go! Great Dinosaur Rescue,False,2008.0,NaN,NaN,Adventure,5.3,7.0,NaN,NaN
9997,tt1262419,movie,Sanpei the Fisher Boy,False,2009.0,NaN,118.0,Drama,6.1,109.0,NaN,NaN
9998,tt12624194,movie,Debbie's Time,True,1971.0,NaN,NaN,Adult,NaN,NaN,NaN,NaN
9999,tt12624196,tvEpisode,Desperation,False,2020.0,NaN,17.0,Sci-Fi,NaN,NaN,1.0,4.0

# Récupération de la table title_akas et join

On groupe par tconst pour récupérer pour chaque film directement le nombre de région et la liste des régions, pour prendre le moins de place possible en mémoire.

In [26]:
query_title_akas = """
SELECT 
    ta.tconst, 
    COUNT(DISTINCT ta.region) AS regionnumber, 
    ARRAY_AGG(ta.region) AS regionlist
FROM 
    sebastien.title_akas ta
WHERE 
    ta.tconst IN (SELECT tconst FROM sebastien.title_basics ORDER BY tconst LIMIT 10000)
GROUP BY 
    ta.tconst;
"""

with engine.connect() as conn, conn.begin():
    df_akas = pd.read_sql_query(query_title_akas, conn)

df_akas.head()

       tconst  regionnumber                        regionlist
0  tt12605172             8  [PT, IN, FR, IT, DE, JP, \N, ES]
1  tt12605176             2                          [\N, BD]
2  tt12605178             2                          [\N, US]
3   tt1260518             1                              [\N]
4  tt12605180             8  [\N, PT, IN, FR, IT, DE, JP, ES]

In [27]:
df = df.merge(df_akas, on="tconst", how="left")
df

,tconst,titletype,primarytitle,isadult,startyear,endyear,runtimeminutes,genres,averagerating,numvotes,seasonnumber,episodenumber,regionnumber,regionlist
0,tt12605172,tvEpisode,Episode #1.2,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,1.0,2.0,8,"[PT, IN, FR, IT, DE, JP, \N, ES]"
1,tt12605176,tvSpecial,Shaheb Bibi Golam,False,2016.0,NaN,NaN,Drama,NaN,NaN,NaN,NaN,2,"[\N, BD]"
2,tt12605178,short,Girl in the Mirror,False,2020.0,NaN,6.0,"Music,Short",NaN,NaN,NaN,NaN,2,"[\N, US]"
3,tt1260518,tvEpisode,Loose Ends,False,2008.0,NaN,NaN,Drama,NaN,NaN,18.0,5.0,1,[\N]
4,tt12605180,tvEpisode,Episode #1.3,False,2020.0,NaN,NaN,"Action,Mystery",NaN,NaN,1.0,3.0,8,"[\N, PT, IN, FR, IT, DE, JP, ES]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,tt12624184,tvEpisode,Canción de cuna,False,2001.0,NaN,NaN,"Crime,Drama,Thriller",NaN,NaN,NaN,NaN,2,"[\N, MX]"
9996,tt12624186,videoGame,Go Diego Go! Great Dinosaur Rescue,False,2008.0,NaN,NaN,Adventure,5.3,7.0,NaN,NaN,2,"[\N, US]"
9997,tt1262419,movie,Sanpei the Fisher Boy,False,2009.0,NaN,118.0,Drama,6.1,109.0,NaN,NaN,5,"[\N, XWW, BR, JP, CN]"
9998,tt12624194,movie,Debbie's Time,True,1971.0,NaN,NaN,Adult,NaN,NaN,NaN,NaN,2,"[\N, US]"
9999,tt12624196,tvEpisode,Desperation,False,2020.0,NaN,17.0,Sci-Fi,NaN,NaN,1.0,4.0,1,[\N]

## Récupération de la table title_principals et name_basics et join