In [1]:
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os

In [8]:
load_dotenv()  # take environment variables from .env.
database_url = os.getenv("DATABASE_URL")
engine = create_engine(database_url)

In [12]:

from sqlalchemy import null


df_list = pd.read_csv("data/name.basics.tsv", sep="\t", names=["nconst","primaryname","birthyear","deathyear","primaryprofession","knownfortitles"], header=0, nrows=200000)
with engine.connect() as connection:
    with connection.begin():
        df_list["birthyear"] = df_list["birthyear"].replace("\\N", None)
        df_list["deathyear"] = df_list["deathyear"].replace("\\N", None)
        print("un chunck")
        df_list.to_sql('name_basics', 
                    connection, 
                    schema='sebastien', 
                    if_exists='append', 
                    index=False)

un chunck